* {
    padding: 0;
    margin: 0;
}

:root {
    --moderate__violet: hsl(263, 55%, 52%);
    --very__dark__grayish__blue: hsl(217, 19%, 35%);
    --very__dark__blackish__blue: hsl(219, 29%, 14%);
    --light__gray: hsl(0, 0%, 81%);
    --light__grayish__blue: hsl(210, 46%, 95%);
}

html {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

body {
    background-color: var(--light__grayish__blue);
    display: grid;
    place-content: center;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: minmax(100px, auto);
    gap: 2em;
    max-width: 123em;
}

.card {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 2em;
    border-radius: .75em;
    z-index: 1;
}

header {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

header .user {
    display: grid;
}

.subheader {
    opacity: 50%;
}

h1 {
    font-weight: 600;
    font-size: 2.25em;
}

p {
    font-size: 1.5em;
    opacity: 70%;
}

img {
    border-radius: 2em;
}

#card_graphic {
    position: absolute;
    border-radius: 0px;
    right: 50px;
    top: 0;
    z-index: -1;
}

#card_daniel {
    position: relative;
    background-color: var(--moderate__violet);
    color: white;
    grid-column: 1/4;
}

#card_daniel p {
    color: var(--light__gray);
}

#card_jonathan {
    background-color: var(--very__dark__grayish__blue);
    color: white;
}

#card_jeanette {
    grid-row: 2;
    background-color: white;
}

#card_patrick {
    grid-column: 2/5;
    background-color: var(--very__dark__blackish__blue);
    color: white;
}


#card_kira {
    grid-column: 5;
    grid-row: 1/3;
    background-color: white;
}

#card_kira p {
    color: var(--very__dark__grayish__blue);
}

@media screen and (max-width: 1200px) {
    h1  {
        font-size: 1.75em;
    }

    body {
        display: flex;
        padding: 2em;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}